table {
    width: 100%;
    text-align: center;
  }

.customer-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
  }
  
td {
    padding-right: 8px;
  }

  .header{
    text-align: center;
    justify-content: center
    
  }

  ::ng-deep .mat-sort-header-container {
    justify-content:center;
  }

  .mat-sort-header-container {
    align-items: center;
    display: flex;  
    justify-content: center;
  }

  .mat-header-cell{
    text-align: center ; 
    justify-content:center;
     }

  .mat-sort-header-sorted{
      text-align: center ; 
      justify-content:center;
       }
    
  

.date-block{
  display: flex;
}

.date-block__list{
  flex-basis: 150px;
  margin-right: 15px;
}
