<div class="container main-container">
  <div>
    <mat-grid-list cols="2" rowHeight="2:1">
      
      <mat-grid-tile>
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Gestión de Citas</mat-card-title>
          </mat-card-header>
          <img mat-card-lg-image src="../../assets/img/consulta1.png" alt="consultas">
          <mat-card-actions >
            <button mat-raised-button color="primary"  (click)="gestionarConsultas()">Gestionar Citas</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      
      <mat-grid-tile>
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Gestión de Pacientes</mat-card-title>
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
          </mat-card-header>
          <img mat-card-lg-image src="../../assets/img/clientes.png" alt="pacientes">
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="gestionarPacientes()" class="dashboard-card-content">Gestionar Pacientes</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      
    </mat-grid-list>
  </div>
  <br>
</div>