<!-- <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #4cbccf;">
  <a class="navbar-brand" [routerLink]="['/home']">Consultorio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Consultorio<span
            class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/clientes']" routerLinkActive="router-link-active">Pacientes<span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/consultas']" routerLinkActive="router-link-active">Consultas<span
            class="sr-only"></span></a>
      </li>
    </ul>
  </div>
</nav> -->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button> -->
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/home'"> Consultorio</a>
      <a mat-button [routerLink]="'/clientes'"> Pacientes</a>
      <a mat-button [routerLink]="'/consultas'"> Consultas </a>
      
    </div>
  </mat-toolbar-row>


</mat-toolbar>