<div class="container main-container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Información Cita</mat-card-title>
      <mat-card-subtitle>Información Paciente</mat-card-subtitle>
      

    </mat-card-header>
    <br>

    <mat-card-content>
      <form [formGroup]='formulario'>
        <table>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Cédula" formControlName="idCliente">
              </mat-form-field>
            </td>
            <td colspan="2">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Nombres" formControlName="nombres">
              </mat-form-field>
            </td>
            <td colspan="2">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Apellidos" formControlName="apellidos">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Direcccion" formControlName="direccion">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Municipio</mat-label>
                <mat-select formControlName="municipio" [compareWith]="compararMunicipios">
                  <mat-option *ngFor="let municipio of municipios" [value]="municipio">{{municipio.nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Departamento" formControlName="departamento">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Telefono" formControlName="telefono">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" formControlName="email">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Fecha Nacimiento" formControlName="fechaNacimiento">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Sexo" formControlName="sexo">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Sintomatologia" formControlName="caracteristicas">
              </mat-form-field>
            </td>
          </tr>
        </table>
        <mat-grid-list cols="2" rowHeight="5:1">
          <mat-grid-tile>
            <button mat-raised-button color="primary" (click)="updateCliente(idCliente)">Actualizar</button>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-raised-button color="primary" type="submit" [routerLink]="['/clientes']">Regresar</button>
          </mat-grid-tile>

        </mat-grid-list>

      </form>
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>
</div>